::ng-deep .mat-step-label {
    width: 100% !important;
}

::ng-deep .mat-step-text-label {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}


/* ::ng-deep .mat-step-header {
    background-color: #e1e0f9 !important;
} */

.success-icon {
    color: green;
}

.danger-icon {
    color: red;
}

.list-section {
    width: 100%;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
}

::ng-deep .mat-dialog-content {
    overflow: hidden;
}