<h1 mat-dialog-title>Reset</h1>
<div mat-dialog-content>
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let list of checkboxLists;let i=index">
            <div class="list-section">
                <span style="display: contents;">
                    <mat-checkbox [disabled]="resetStarted" [checked]="list.checked" [(ngModel)]="list.checked"
                        [value]="list.value" (change)="valueChange($event)" id="units-{{i}}" color="primary"
                        name="units-{{i}}">
                        <h4>{{list.value}}</h4>
                    </mat-checkbox>
                    <h6 *ngIf="list.checked && !list.loader && list.completed">{{ list.status == 'SUCCESS' ?
                        'Reset Completed' :
                        'Reset Failed' }}</h6>
                </span>
                <span>
                    <mat-icon class="success-icon"
                        *ngIf="list.checked && !list.loader && list.completed && list.status == 'SUCCESS'">
                        check_circle
                    </mat-icon>
                    <mat-icon class="danger-icon"
                        *ngIf="list.checked && !list.loader && list.completed && list.status == 'FAIL'">
                        highlight_off
                    </mat-icon>
                    <mat-spinner diameter="30" *ngIf="list.loader && list.checked"></mat-spinner>
                </span>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="button" (click)="startReset($event)"
        [disabled]="resetStarted || !angForm.get('processCheckbox')?.value.length">Execute</button>
    <button mat-raised-button mat-dialog-close color="warn" [disabled]="!closeDialog">Close</button>
</div>